<h1>Stack Overflow Clone</h1>
<h3>Quote of the day: <%= @quote %></h3>
<h2>New Question</h2>
<%= render partial: 'form' %>
<h2>Existing Questions</h2>
<% @questions.each do |question|%>
<div>
  <li>
    <%= link_to "#{question.title} (#{question.vote_count})", question_path(question)%>
    <%= button_to '+', upvote_question_path(question) %>
    <%= button_to '-', downvote_question_path(question) %>
    <%= link_to 'Edit', edit_question_path(question) %>,
    <%= link_to 'Delete', question, method: :destroy, data: { confirm: 'You sure?' } %>
  </li>
</div>
<% end %>
