<h1><%= @question.title %></h1>
<h3><%= @question.content %></h2>

<h2>New Answer</h2>
<%= render partial: 'answers/form', locals: {method: 'post', url: question_answers_path(@question)}%>
<h2>Existing Answers</h2>
<ul>
  <% @answers.each do |answer| %>
  <div>
  <li>
    <%= "#{answer.title} (#{answer.vote_count})" %>
    <%= button_to '+', upvote_question_answer_path(@question, answer) %>
    <%= button_to '-', downvote_question_answer_path(@question, answer) %>
    <%= link_to 'Edit', edit_question_answer_path(@question,answer) %>,
     <%= link_to 'Delete', question_answer_path(answer.question, answer), method: :delete%>
  </li>
  </div>
  <% end %>
</ul>
